<div id="bg">
	<h1>Driver Details</h1>

	<form action="driver_prop" method='post'>
		<ul>
			{{#driver_details}}
				<li>Ref. No. : <strong>{{ref_no}}</strong></li> 

				<li>Name : <strong>{{name}}</strong></li> 

				<li>Surname : <strong>{{surname}}</strong></li>

				<li>Cell : <strong>{{cell_number}}</strong></li>

				<li>Email : <strong>{{email}}</strong></li> 

				<li>Date : <strong>{{date}}</strong></li>
			{{/driver_details}}
			<br/>
			<li><h3>Issues:</h3>
				<ul>
					{{#issues}}
						<div class="textbox">
							<li><strong>{{issue}}</strong></li>
						</div>
					{{/issues}}
				</ul>
			</li>
		</ul>
	  <input type='submit' value='Submit'/>  
	</form>
</div>