<div id="bg">
	<h1>Driver Details</h1>

	<form action="driver_prop" method='post'>
		<ul>
			{{#driver_details}}
				<li>Name : {{name}}</li> 

				<li>Surname : {{surname}}</li>

				<li>Cell : {{cell_number}}</li>

				<li>Email : {{email}}</li> 

				<li>Date : {{date}}</li>
				<li>issues number : {{issues}}</li>
			{{/driver_details}}
			<li>Issues:
				{{#issues}}
					<ul>
						<li>{{issue}}</li>
					</ul>
				{{/issues}}
			</li>
		</ul>
	  <input type='submit' value='Submit'/>  
	</form>
</div>